/* Stylesheet for quotes
 * This mimics bootstraps' page headers.
 * see getbootstrap.com/components/#page-header */

 .left {
   float: left;
 }

 .right {
   float: right;
 }


/* The entire quotes area. */
#quotes {
  font-family: monospace;
  width: 90vw;
  margin: 0 auto;
}

/* One class per quote. */
.quote-wrapper {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 50vw;
  margin: 10px;

  -webkit-box-shadow: -1px 1px 15px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 15px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 15px -5px rgba(0,0,0,0.75);
}

  .quote-wrapper.quote-status-deleted {
    opacity: 0.25;
  }

.quote-wrapper header {
  padding: 10px 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
}
  .quote-wrapper header > .right {
    text-align: right;
  }

  .quote-id {
  }

  .quote-adder {
  }

.quote-body {
  clear: both;
  padding: 2px 15px;
}

  .quote-text {
  }

.quote-wrapper footer {
  text-align: right;
  font-size: 0.9em;
}
.quote-wrapper footer  p{
  margin: 0px 15px 15px 15px;
}
  .quote-time {
  }

.quote-hidden {
  display: none;
}

.quote-collapsed {
  opacity: 0.40;
}

.quote-collapsed > .quote-body, .quote-collapsed > footer {
  display: none;
}

#footer {
  margin-top: 10px;
  text-align: center;
}
